.form {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;
    
     gap: 20px;
     padding: 20px;
     width: 250px;
     border-radius: 4px;
     margin-bottom: 30px;
   }

   .label {
     font-weight: 600;
     font-size: 16px;
     color: black;
     margin-left: 8px;
   }

   .input {
     width: 100%;
     margin-bottom: 8px;
     height: 32px;
     border: none;
     border-radius: 14px;
     padding-left: 16px;
     background-color: rgba(243, 243, 243, 0.8);
   }

   

   .input:focus-within {
     border: 2px solid rgb(65, 64, 64);
     outline: none;
   }

   .error {
     color: red;
     font-size: 12px;
   }

   .button {
     align-self: center;
   }