:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: bisque;
  background-image: linear-gradient(
      to bottom,
      rgba(78, 78, 78, 0.7),
      rgba(117, 119, 160, 0.3)
    ),
    url(./img/kenrick-mills.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: bisque;
  text-decoration: inherit;
}

a:hover {
  color: rgb(214, 158, 89);
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  width: 112px;
  height: 32px;
  border: none;
  border-radius: 24px;
  background-color: rgb(223, 223, 223);

}

button:hover {
  background-color: #c2c2c2;
}
